@font-face {
    font-family: "Barlow", sans-serif;
    src: url(../fonts/Barlow-Medium.ttf)
}

:root {
    --fraunces-font: "Fraunces", serif;
}

.works-type-3 h3 {
    font-family: "Fraunces", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #fefcf7;
    font-family: "Barlow", sans-serif
}

.container {
    width: 1281px;
    margin: 0 auto
}

nav {
    width: 100%;
    height: 113.12px;
    padding-top: 43.56px;
    padding-bottom: 43.56px;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    z-index: 5;
    background-color: #fefcf7
}

.navbar {
    height: 26px;
    display: flex;
    justify-content: space-between;
    word-wrap: none;
    align-items: center;
}

.navbar__menu {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    list-style: none;
}

.navbar__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #83888f;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: .9230769277px;
    text-align: left;
    transition: .5s;
}

.navbar__link:hover {
    color: #000
}

.hero {
    margin-top: 113.12px;
    width: 1280px;
    height: 450px;
    background-image: url(../img/about/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 85px;
    gap: 13px;
}

.hero h1 {
    font-family: var(--fraunces-font);
    color: #fefcf7;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
}

.hero h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    width: 445px;
    color: #fefcf7;
}

.commitment {
    display: flex;
    margin: 0 auto;
    margin-top: 168px;
    width: 1110px;
    height: 520px;
    gap: 125px;
}

.commitment__left {
    width: 445px;
    height: 520px;
    background-image: url(../img/about/Bitmap@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.commitment__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 540px;
    gap: 32px;
}

.commitment__right h2 {
    font-family: var(--fraunces-font);
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #333D4B;
}

.commitment__right h5 {
    color: #333D4B;
    opacity: 80%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.quality {
    width: 1280px;
    height: 474px;
    margin-top: 256px;
    background-color: #2C343E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
    padding-bottom: 88px;
}

.quality__left {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 210px;
    gap: 32px;
}

.quality__left h2 {
    font-family: var(--fraunces-font);
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #fefcf7;
}

.quality__left h5 {
    color: #fefcf7;
    opacity: 80%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.quality__right {
    width: 445px;
    height: 474px;
    background-image: url(../img/about/quality-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}

.headquarters {
    display: flex;
    flex-direction: column;
    width: 1045px;
    height: 366px;
    margin: 0 auto;
    margin-top: 168px;
    gap: 72px;
}

.headquarters__top h2 {
    font-family: var(--fraunces-font);
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #83888F;
}

.headquarters__bottom {
    width: 1045px;
    height: 262px;
    display: flex;
    gap: 95px;
}

.headquarters__left,
.headquarters__center,
.headquarters__right {
    width: 285px;
    height: 167px;
}

.headquarters__left img {
    margin-bottom: 45.93px;
}

.headquarters__center img {
    margin-bottom: 45px;
}

.headquarters__right img {
    margin-bottom: 48.05px;
}

.headquarters__left h2,
.headquarters__center h2,
.headquarters__right h2 {
    font-family: var(--fraunces-font);
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
    color: #333D4B;
}

.headquarters__left h5,
.headquarters__center h5,
.headquarters__right h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #333D4B;
}

footer {
    margin-top: 200px;
}

.footer {
    width: 1280px;
    height: 120px;
    background-color: #2c343e;
    display: flex;
    align-items: center;
    justify-content: center
}

.footer__menu {
    display: flex;
    gap: 33px;
    list-style: none;
    margin-left: 102.9px;
    margin-right: 368.1px
}

.footer__link {
    color: #83888f;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: .9230769277px;
    text-align: left;
    transition: .5s
}

.footer__link:hover {
    color: #fff
}

.footer__logos {
    display: flex;
    align-items: center;
    gap: 24px
}